body {
  margin: 0;
  font-family: "Roboto", Arial;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f3ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
